:root {
  // PALETTE
  --color_primary_dark: #807af2;
  --color_primary_light: #8782ff;

  --color_secondary_light: #6bdce4;
  --color_secondary_dark: #47cad3;

  --color_white: #ffffff;
  --color_grey: #aaaaaa;
  --color_black: #000000;
}
